<template>
  <Articles />
</template>

<script>
import Articles from "../components/Articles.vue";

export default {
  name: "Home",
  components: {
    Articles,
  },
};
</script>

<style scoped lang="scss">
// html {
//   scroll-behavior: smooth;
// }
#home {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
</style>
