<template>
  <div>
    <h1>Home Page</h1>
    <router-link to="category"
      ><p><b>Choose From Category</b></p>
    </router-link>
    <FirstPageLoad />
  </div>
</template>

<script>
import FirstPageLoad from "../components/FirstPageLoad.vue";
export default {
  name: "Home",
  components: { FirstPageLoad },
};
</script>

<style scoped lang="scss">
b {
  border: 1px solid black;
  padding: 10px;
  &:hover {
    -webkit-box-shadow: 0px 0px 10px 0px #aaa;
    box-shadow: 0px 0px 10px 0px #aaaaaa;
  }
}
</style>
