<template>
  <div>
    <Posts :title="title" />
  </div>
</template>

<script>
import Posts from "../components/Posts.vue";
export default {
  name: "Texts",
  components: {
    Posts,
  },
  data() {
    return {
      title: "",
    };
  },
  created() {
    window.scrollTo({ top: 0, left: 0 });
    let regEx = /%+\d+/g;
    let url = window.location.href.split("/texts/");
    let id = url[url.length - 1].split("/");
    let newTitle = id[0];
    if (id[0].match(regEx)) {
      newTitle = id[0].replaceAll(regEx, " ");
    }
    this.title = newTitle;
  },
};
</script>

<style scoped lang="scss"></style>
