<template>
  <div>
    <TextView />
  </div>
</template>

<script>
import TextView from "../components/TextView.vue";

export default {
  name: "Text",
  components: {
    TextView,
  },
};
</script>

<style>
</style>
