<template>
  <div>
    <div class="grid">
      <div v-for="item in allData" :key="item.id">
        <div class="fix">
          <router-link
            :to="{ name: 'Texts', params: { title: item.name, id: item.id } }"
          >
            <div class="card">
              <p>
                {{ item.name }}
              </p>
            </div>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Articles",
  methods: {
    ...mapActions(["fetchData"]),
  },
  props: {
    title: String,
  },
  computed: mapGetters(["allData"]),
  created() {
    this.fetchData();
    scrollTo(0, 0);
  },
};
</script>

<style scoped lang="scss">
.id {
  font-size: 1.1rem;
  color: green;
  display: block;
}
.fix {
  margin: 10px;
}
.card {
  // margin: 10px;
  // padding: 5px;
  border: 1px solid black;
  p {
    font-size: 1.8rem;
  }
  &:hover {
    -webkit-box-shadow: 0px 0px 10px 0px #aaa;
    box-shadow: 0px 0px 10px 0px #aaaaaa;
  }
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
</style>
