<template>
  <div>
    <div v-for="post in perPagePosts" :key="post">
      <router-link
        :to="{
          name: 'Text',
          params: { title: 'title', id: 'id', postId: post.id },
        }"
      >
        <p v-html="post.title.rendered"></p>
      </router-link>
    </div>
    <a class="btn"><i class="fas fa-arrow-left"></i></a>
    <button class="pageBtn" v-for="index in 10" :key="index">
      {{ index }}
    </button>
    <a class="btn"><i class="fas fa-arrow-right"></i></a>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "FirstPageLoad",
  methods: {
    ...mapActions(["fetchData"]),
  },
  props: {
    title: String,
    page: Number,
  },
  computed: mapGetters(["perPagePosts"]),
  created() {
    scrollTo(0, 0);
    this.fetchData(this.page);
  },
};
</script>

<style scoped lang="scss">
.btn {
  font-size: 1.2rem;
  padding: 0 10px;
  vertical-align: middle;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}
button {
  margin: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
}
.pageBtn {
  font-weight: bold;
  &:hover {
    -webkit-box-shadow: 0px 0px 10px 0px #aaa;
    box-shadow: 0px 0px 10px 0px #aaaaaa;
  }
  &:first-of-type {
    border: 2px solid #42b983;
  }
}
</style>
