<template>
  <div>
    <div class="nav">
      <router-link class="icon" to="/">
        <i class="fas fa-home" style="font-size: 48px"> </i
      ></router-link>
      <p>Blog Website</p>

      <router-link to="/about">
        <p class="fixAbout" style="font-size: 1.2rem">About Me</p>
      </router-link>
    </div>
    <div class="space"></div>
  </div>
</template>

<script>
export default {
  name: "Navbar",
};
</script>

<style scoped lang="scss">
.nav {
  background-color: #fff;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  p {
    font-size: 1.5rem;
  }
}
.space {
  margin-top: 50px;
}
.icon {
  position: absolute;
  left: 0;
  transform: translate(10px, 10px);
  &:hover {
    opacity: 0.8;
  }
}
.fixAbout {
  // font-size: 10px;
  font-weight: 400;
  position: absolute;
  right: 0;
  transform: translate(-20px, 8px);
}
</style>
