<template>
  <div>
    <h2>{{ title }}</h2>
    <img v-if="allPosts.length == 0" src="../assets/preloading.gif" alt="" />
    <div v-for="post in allPosts" :key="post">
      <router-link :to="{ name: 'Text', params: { postId: post.id } }">
        <p v-if="post.categories.includes(parseInt(getId))">
          <span v-html="post.title.rendered"></span>
        </p>
      </router-link>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Posts",
  methods: {
    ...mapActions(["fetchData"]),
  },
  computed: {
    ...mapGetters(["allPosts"]),
    getId() {
      let regEx = /texts\/[A-z]+\//;
      let url = window.location.href.split(regEx);
      let id = url[url.length - 1];
      return id;
    },
  },
  created() {
    this.fetchData();
  },
  props: {
    title: String,
  },
};
</script>
<style lang="scss">
.id {
  color: green;
}

</style>
