<template>
  <div>
    <div v-for="post in allPosts" :key="post">
      <div v-if="post.id == parseInt(goodId)">
        <p>
          <b v-html="post.title.rendered"></b>
        </p>
        <span v-html="post.content.rendered"></span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "TextView",
  methods: {
    ...mapActions(["fetchData"]),
  },
  computed: {
    ...mapGetters(["allPosts"]),
    goodId() {
      let regEx = /text\/\d+/;
      let url = window.location.href.match(regEx);
      let idPost = url[0].split("/")[1];
      return idPost;
    },
  },
  created() {
    this.fetchData();
  },
};
</script>
