<template>
  <div id="nav">
    <Navbar />
  </div>
  <router-view title="test" />
</template>

<script>
import Navbar from "./components/Navbar.vue";
export default {
  name: "App",
  components: {
    Navbar,
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  box-sizing: border-box;
  margin: 0 20px;
}

#nav {
  margin-top: 100px;
  a {
    font-weight: bold;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
a {
  text-decoration: none;
  color: black;
}
p {
  font-size: 1.2rem;
  display: inline-block;
}
</style>
